
.mainContainer{
    margin: auto;
    width: 300px;
    border: 1px solid darkblue;
    height: 200px;
    border-radius: 15px 15px;
    box-shadow: #cccccc 2px 2px 5px 6px;

}
.circle{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 100%;
}
.buttonsContainer {
    margin: auto;
    width: 100px;
    border: 1px solid darkgreen;
    height: 200px;
    border-radius: 15px 15px;
    box-shadow: #cccccc 2px 2px 5px 6px;
}